.jumbotron {
    background-color: greenyellow;
    color: black
}

/*2nd way for applying color to button
.btn {
    background-color: greenyellow;
    color:red;
}*/
.btn-booking {
    width: 100%;
}

/*class card-hotel created for working on elements style*/

.hotel{
    flex: 1 150px;
    padding: 2px 2px 2px 2px;
    margin-top: 10px;
}



footer {
    padding: 10px 10px 0 10px;
    background-color: yellowgreen;
    margin-bottom: 8px;
    margin-top: 10px;
}